Repository imlogang-organization/infrastructure: changes, and which CircleCI parameters are due for each by the changed paths.
All: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot", stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage", container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud", container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server", circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system", minio, file-path="minio", aws, file-path="AWS", cloudflare, file-path="cloudflare/cloud.donttrustthecloud", file-path="cloudflare/com.logangodsey", container-agent-values-update, file-path="Kubernetes/Helm/container-agent", container-agent-gcp-secret-upgrade, namespace="cr-upgrade", file-path="Kubernetes/Secrets/container-agent-gcp-server-upgrade", container-agent-gcp-server-upgrade, file-path="Kubernetes/Helm/container-agent-gcp-server-upgrade", container-agent-server-values-update, file-path="Kubernetes/Helm/container-agent-server", file-path="docker/docker_host", docker_host, influxdb, file-path="influxdb", proxmox0, file-path="proxmox/proxmox0", file-path="Kubernetes/Helm/circleci-release-agent-system", circleci-release-agent-system-helm, file-path="Kubernetes/Secrets/go-api/", namespace="go-api", go-api, file-path="Kubernetes/Helm/kong", namespace="kong", kong, file-path="Kubernetes/Secrets/web-ui", namespace="web-ui", web-ui, file-path="Kubernetes/Helm/authentik", authentik, namespace="authentik", file-path="Kubernetes/Helm/grafana-loki", grafana-loki, namespace="grafana-loki", file-path="Kubernetes/Helm/grafana-alloy", grafana-alloy, namespace="grafana-alloy", file-path="Kubernetes/Secrets/grafana-loki", grafana-loki-secrets

Path conditions:
  prod: any of: Kubernetes/Secrets/beemoviebot/.*
  namespace="beemoviebot": any of: Kubernetes/Secrets/beemoviebot/.*
  file-path="Kubernetes/Secrets/beemoviebot": any of: Kubernetes/Secrets/beemoviebot/.*
  stage: any of: Kubernetes/Secrets/beemoviebotstage/.*
  namespace="beemoviebotstage": any of: Kubernetes/Secrets/beemoviebotstage/.*
  file-path="Kubernetes/Secrets/beemoviebotstage": any of: Kubernetes/Secrets/beemoviebotstage/.*
  container-runner-cloud: any of: Kubernetes/Secrets/container-runner-cloud/.*
  namespace="circleci": (any of: Kubernetes/Secrets/container-runner-cloud/.*) or (any of: Kubernetes/Helm/container-agent/.*)
  file-path="Kubernetes/Secrets/container-runner-cloud": any of: Kubernetes/Secrets/container-runner-cloud/.*
  container-runner-server: any of: Kubernetes/Secrets/container-runner-server/.*
  namespace="container-runner-server": (any of: Kubernetes/Secrets/container-runner-server/.*) or (any of: Kubernetes/Helm/container-agent-server/.*)
  file-path="Kubernetes/Secrets/container-runner-server": any of: Kubernetes/Secrets/container-runner-server/.*
  circleci-release-agent-system: any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  namespace="circleci-release-agent-system": (any of: Kubernetes/Secrets/circleci-release-agent-system/.*) or (any of: Kubernetes/Helm/circleci-release-agent-system/.*)
  file-path="Kubernetes/Secrets/circleci-release-agent-system": any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  minio: any of: minio/.*
  file-path="minio": any of: minio/.*
  aws: any of: AWS/.*
  file-path="AWS": any of: AWS/.*
  cloudflare: (any of: cloudflare/cloud.donttrustthecloud/.*) or (any of: cloudflare/com.logangodsey/.*)
  file-path="cloudflare/cloud.donttrustthecloud": any of: cloudflare/cloud.donttrustthecloud/.*
  file-path="cloudflare/com.logangodsey": any of: cloudflare/com.logangodsey/.*
  container-agent-values-update: any of: Kubernetes/Helm/container-agent/.*
  file-path="Kubernetes/Helm/container-agent": any of: Kubernetes/Helm/container-agent/.*
  container-agent-gcp-secret-upgrade: any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*
  namespace="cr-upgrade": (any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*) or (any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*)
  file-path="Kubernetes/Secrets/container-agent-gcp-server-upgrade": any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*
  container-agent-gcp-server-upgrade: any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*
  file-path="Kubernetes/Helm/container-agent-gcp-server-upgrade": any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*
  container-agent-server-values-update: any of: Kubernetes/Helm/container-agent-server/.*
  file-path="Kubernetes/Helm/container-agent-server": any of: Kubernetes/Helm/container-agent-server/.*
  file-path="docker/docker_host": any of: docker/docker_host/.*
  docker_host: any of: docker/docker_host/.*
  influxdb: any of: influxdb/.*
  file-path="influxdb": any of: influxdb/.*
  proxmox0: any of: proxmox/proxmox0/.*
  file-path="proxmox/proxmox0": any of: proxmox/proxmox0/.*
  file-path="Kubernetes/Helm/circleci-release-agent-system": any of: Kubernetes/Helm/circleci-release-agent-system/.*
  circleci-release-agent-system-helm: any of: Kubernetes/Helm/circleci-release-agent-system/.*
  file-path="Kubernetes/Secrets/go-api/": any of: Kubernetes/Secrets/go-api/.*
  namespace="go-api": any of: Kubernetes/Secrets/go-api/.*
  go-api: any of: Kubernetes/Secrets/go-api/.*
  file-path="Kubernetes/Helm/kong": any of: Kubernetes/Helm/kong/.*
  namespace="kong": any of: Kubernetes/Helm/kong/.*
  kong: any of: Kubernetes/Helm/kong/.*
  file-path="Kubernetes/Secrets/web-ui": any of: Kubernetes/Secrets/web-ui/.*
  namespace="web-ui": any of: Kubernetes/Secrets/web-ui/.*
  web-ui: any of: Kubernetes/Secrets/web-ui/.*
  file-path="Kubernetes/Helm/authentik": any of: Kubernetes/Helm/authentik/.*
  authentik: any of: Kubernetes/Helm/authentik/.*
  namespace="authentik": any of: Kubernetes/Helm/authentik/.*
  file-path="Kubernetes/Helm/grafana-loki": any of: Kubernetes/Helm/grafana-loki/.*
  grafana-loki: any of: Kubernetes/Helm/grafana-loki/.*
  namespace="grafana-loki": any of: Kubernetes/Helm/grafana-loki/.*
  file-path="Kubernetes/Helm/grafana-alloy": any of: Kubernetes/Helm/grafana-alloy/.*
  grafana-alloy: any of: Kubernetes/Helm/grafana-alloy/.*
  namespace="grafana-alloy": (any of: Kubernetes/Helm/grafana-alloy/.*) or (any of: Kubernetes/Secrets/grafana-loki/.*)
  file-path="Kubernetes/Secrets/grafana-loki": any of: Kubernetes/Secrets/grafana-loki/.*
  grafana-loki-secrets: any of: Kubernetes/Secrets/grafana-loki/.*

allow grafana to filter by deployment name for logs
  Kubernetes/Helm/grafana-alloy/values/normal-values.yaml
Due: file-path="Kubernetes/Helm/grafana-alloy", grafana-alloy, namespace="grafana-alloy"

remove comments
  Kubernetes/Helm/grafana-alloy/values/normal-values.yaml
Due: file-path="Kubernetes/Helm/grafana-alloy", grafana-alloy, namespace="grafana-alloy"

find all deployments
  Kubernetes/Helm/grafana-alloy/values/normal-values.yaml
Due: file-path="Kubernetes/Helm/grafana-alloy", grafana-alloy, namespace="grafana-alloy"

give grafana access via authentik
  docker/docker_host/main.tf
  docker/docker_host/variables.tf
Due: file-path="docker/docker_host", docker_host

fix config and re trigger docker
  .circleci/config.yml
  docker/docker_host/main.tf
Due: file-path="docker/docker_host", docker_host

add URL since we're behind a reverse proxy as per https://github.com/goauthentik/authentik/issues/8673
  docker/docker_host/main.tf
Due: file-path="docker/docker_host", docker_host

changed IP of docker host
  cloudflare/com.logangodsey/variables.tf
Due: cloudflare, file-path="cloudflare/com.logangodsey"

resset uptime-kuma container
  docker/docker_host/main.tf
Due: file-path="docker/docker_host", docker_host

update uptime-kuma to get access to docker.sock
  docker/docker_host/main.tf
Due: file-path="docker/docker_host", docker_host

made admins
  docker/docker_host/main.tf
Due: file-path="docker/docker_host", docker_host

Give grafana alloy the IPs of each node
  Kubernetes/Helm/grafana-alloy/values/normal-values.yaml
Due: file-path="Kubernetes/Helm/grafana-alloy", grafana-alloy, namespace="grafana-alloy"

Last node should be number 7
  Kubernetes/Helm/grafana-alloy/values/normal-values.yaml
Due: file-path="Kubernetes/Helm/grafana-alloy", grafana-alloy, namespace="grafana-alloy"

add grafana route
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: file-path="Kubernetes/Helm/kong", namespace="kong", kong

add grafana public routing to cloudflare
  cloudflare/com.logangodsey/main.tf
Due: cloudflare, file-path="cloudflare/com.logangodsey"

try deploying via k8s
  .circleci/continue_config.yml
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: file-path="Kubernetes/Helm/kong", namespace="kong", kong

change route.name for grafana
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: file-path="Kubernetes/Helm/kong", namespace="kong", kong

create secrets for grafana-tempo
  .circleci/config.yml
  .circleci/continue_config.yml
  Kubernetes/Secrets/grafana-tempo/backend.sh
  Kubernetes/Secrets/grafana-tempo/main.tf
  Kubernetes/Secrets/grafana-tempo/provider.tf
  Kubernetes/Secrets/grafana-tempo/variables.tf
Due: none

try again
  Kubernetes/Secrets/grafana-tempo/variables.tf
Due: none

spelling mistake
  .circleci/continue_config.yml
  Kubernetes/Secrets/grafana-tempo/variables.tf
Due: none

deploy tempo
  .circleci/config.yml
  .circleci/continue_config.yml
  Kubernetes/Helm/grafana-tempo/backend.sh
  Kubernetes/Helm/grafana-tempo/main.tf
  Kubernetes/Helm/grafana-tempo/provider.tf
  Kubernetes/Helm/grafana-tempo/resources.tf
  Kubernetes/Helm/grafana-tempo/values/normal-values.yaml
  Kubernetes/Helm/grafana-tempo/variables.tf
Due: none

change deployment names
  Kubernetes/Helm/grafana-loki/resources.tf
  Kubernetes/Helm/grafana-loki/variables.tf
Due: file-path="Kubernetes/Helm/grafana-loki", grafana-loki, namespace="grafana-loki"

create secrets for loki
  Kubernetes/Secrets/grafana-loki/variables.tf
Due: namespace="grafana-alloy", file-path="Kubernetes/Secrets/grafana-loki", grafana-loki-secrets

redeploy grafana-loki
  Kubernetes/Helm/grafana-loki/variables.tf
Due: file-path="Kubernetes/Helm/grafana-loki", grafana-loki, namespace="grafana-loki"

redeploy grafan-loki in the correct ns
  Kubernetes/Helm/grafana-loki/resources.tf
  Kubernetes/Helm/grafana-loki/variables.tf
Due: file-path="Kubernetes/Helm/grafana-loki", grafana-loki, namespace="grafana-loki"

create tempo secrets
  Kubernetes/Secrets/grafana-tempo/variables.tf
Due: none

deploy grafana-tempo
  Kubernetes/Helm/grafana-tempo/backend.sh
  Kubernetes/Helm/grafana-tempo/resources.tf
  Kubernetes/Helm/grafana-tempo/variables.tf
Due: none

create bucket for tempo
  minio/main.tf
Due: minio, file-path="minio"

remove /24
  Kubernetes/Helm/grafana-tempo/values/normal-values.yaml
Due: none

change resource name
  minio/main.tf
Due: minio, file-path="minio"

remove http://
  Kubernetes/Helm/grafana-tempo/values/normal-values.yaml
Due: none

try setting key envvar
  Kubernetes/Helm/grafana-tempo/values/normal-values.yaml
Due: none

rely on envvar names
  Kubernetes/Helm/grafana-tempo/values/normal-values.yaml
Due: none

debug level logs + keys defined again
  Kubernetes/Helm/grafana-tempo/values/normal-values.yaml
Due: none

remove env and reference to envvars
  Kubernetes/Helm/grafana-tempo/values/normal-values.yaml
Due: none

move extraEnv under tempo
  Kubernetes/Helm/grafana-tempo/values/normal-values.yaml
Due: none

create actual budget container
  docker/docker_host/images.tf
  docker/docker_host/main.tf
Due: file-path="docker/docker_host", docker_host

update required_version
  docker/docker_host/provider.tf
Due: file-path="docker/docker_host", docker_host

update provider and fix typo
  docker/docker_host/main.tf
  docker/docker_host/provider.tf
Due: file-path="docker/docker_host", docker_host

add quotes around s
  docker/docker_host/main.tf
Due: file-path="docker/docker_host", docker_host

create honeycomb secret
  Kubernetes/Secrets/go-api/main.tf
  Kubernetes/Secrets/go-api/variables.tf
Due: file-path="Kubernetes/Secrets/go-api/", namespace="go-api", go-api
