Repository imlogang-organization/infrastructure: changes, and which CircleCI parameters are due for each by the changed paths.
All: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot", stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage", container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud", container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server", circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system", minio, file-path="minio", aws, file-path="AWS", cloudflare, file-path="cloudflare/cloud.donttrustthecloud", file-path="cloudflare/com.logangodsey", container-agent-values-update, file-path="Kubernetes/Helm/container-agent", container-agent-gcp-secret-upgrade, namespace="cr-upgrade", file-path="Kubernetes/Secrets/container-agent-gcp-server-upgrade", container-agent-gcp-server-upgrade, file-path="Kubernetes/Helm/container-agent-gcp-server-upgrade"

update account_id [skip ci]
  cloudflare/cloud.donttrustthecloud/main.tf
  cloudflare/com.logangodsey/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud", file-path="cloudflare/com.logangodsey"

change plutonium to blops2
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud"

remove some parts of the data field for new cloudflare api
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud"

Add custom PreStop Hook for Okta
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

No longer needs to be a managed namespace
  .circleci/continue_config.yml
  Kubernetes/Helm/container-agent/main.tf
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

actually make it so it's not a managed namesapce
  .circleci/continue_config.yml
  Kubernetes/Helm/container-agent/main.tf
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

reformat values to actually work
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

found a link with a bug for quotes
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

add minio subdomain
  cloudflare/com.logangodsey/main.tf
Due: cloudflare, file-path="cloudflare/com.logangodsey"

update to use dynamic ip [skip ci]
  cloudflare/com.logangodsey/main.tf
Due: cloudflare, file-path="cloudflare/com.logangodsey"

update gcp record
  cloudflare/com.logangodsey/variables.tf
Due: cloudflare, file-path="cloudflare/com.logangodsey"

add resource to beamng
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud"

add beamng
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud"

add token to staging secrets
  Kubernetes/Secrets/beemoviebotstage/main.tf
  Kubernetes/Secrets/beemoviebotstage/variables.tf
Due: stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage"

forgot to add new config
  .circleci/continue_config.yml
  Kubernetes/Secrets/beemoviebotstage/main.tf
Due: stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage"

actually setup envvars
  .circleci/continue_config.yml
  Kubernetes/Secrets/beemoviebotstage/main.tf
Due: stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage"

create new secrets in beemoviebot ns
  Kubernetes/Secrets/beemoviebot/main.tf
Due: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot"

declare variable in variables
  Kubernetes/Secrets/beemoviebot/variables.tf
Due: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot"

actually create the secret with a circle_token
  Kubernetes/Secrets/beemoviebot/main.tf
Due: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot"

add storage req to container runner to stop scheduleding on specific node
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

update config to use machine-runner for plan and ubuntu-k8s for apply. also changed to executor so that it's easier to scale if need be
  .circleci/continue_config.yml
Due: none

first time to see if docker host works
  .circleci/config.yml
  .circleci/continue_config.yml
  docker/docker_host/backend.sh
  docker/docker_host/main.tf
  docker/docker_host/provider.tf
  docker/docker_host/variables.tf
Due: none

try docker host again
  .circleci/continue_config.yml
  docker/docker_host/variables.tf
Due: none

update provider to be correct
  docker/docker_host/provider.tf
Due: none

missed a d..
  docker/docker_host/provider.tf
Due: none

add homeassistant
  docker/docker_host/images.tf
  docker/docker_host/main.tf
Due: none

refactor homeassistant and add watchtower
  docker/docker_host/images.tf
  docker/docker_host/main.tf
  docker/docker_host/variables.tf
Due: none

change boolean to bool
  docker/docker_host/variables.tf
Due: none

add tautulli, homearr, dokuwiki, and uptime-kuma
  docker/docker_host/images.tf
  docker/docker_host/main.tf
Due: none

missing s
  docker/docker_host/main.tf
Due: none

update volumes dir
  docker/docker_host/main.tf
Due: none

update dockekr image name
  docker/docker_host/images.tf
Due: none

execute backend on apply [skip ci]
  .circleci/continue_config.yml
Due: none

add sonarr, jackett, dashdot, influxdb2, and dozzle
  docker/docker_host/images.tf
  docker/docker_host/main.tf
  docker/docker_host/variables.tf
Due: none

change an image resource name
  docker/docker_host/images.tf
Due: none

add new config to use docker_host context
  .circleci/continue_config.yml
  docker/docker_host/variables.tf
Due: none

i can't spell
  docker/docker_host/main.tf
Due: none

change to not execute backend script
  .circleci/continue_config.yml
  docker/docker_host/variables.tf
Due: none

change image and port for stuff
  docker/docker_host/images.tf
  docker/docker_host/main.tf
Due: none

try using backend.tf
  .circleci/continue_config.yml
  docker/docker_host/backend.tf
  docker/docker_host/variables.tf
Due: none

Path conditions:
  prod: any of: Kubernetes/Secrets/beemoviebot/.*
  namespace="beemoviebot": any of: Kubernetes/Secrets/beemoviebot/.*
  file-path="Kubernetes/Secrets/beemoviebot": any of: Kubernetes/Secrets/beemoviebot/.*
  stage: any of: Kubernetes/Secrets/beemoviebotstage/.*
  namespace="beemoviebotstage": any of: Kubernetes/Secrets/beemoviebotstage/.*
  file-path="Kubernetes/Secrets/beemoviebotstage": any of: Kubernetes/Secrets/beemoviebotstage/.*
  container-runner-cloud: any of: Kubernetes/Secrets/container-runner-cloud/.*
  namespace="circleci": (any of: Kubernetes/Secrets/container-runner-cloud/.*) or (any of: Kubernetes/Helm/container-agent/.*)
  file-path="Kubernetes/Secrets/container-runner-cloud": any of: Kubernetes/Secrets/container-runner-cloud/.*
  container-runner-server: any of: Kubernetes/Secrets/container-runner-server/.*
  namespace="container-runner-server": any of: Kubernetes/Secrets/container-runner-server/.*
  file-path="Kubernetes/Secrets/container-runner-server": any of: Kubernetes/Secrets/container-runner-server/.*
  circleci-release-agent-system: any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  namespace="circleci-release-agent-system": any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  file-path="Kubernetes/Secrets/circleci-release-agent-system": any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  minio: any of: minio/.*
  file-path="minio": any of: minio/.*
  aws: any of: AWS/.*
  file-path="AWS": any of: AWS/.*
  cloudflare: (any of: cloudflare/cloud.donttrustthecloud/.*) or (any of: cloudflare/com.logangodsey/.*)
  file-path="cloudflare/cloud.donttrustthecloud": any of: cloudflare/cloud.donttrustthecloud/.*
  file-path="cloudflare/com.logangodsey": any of: cloudflare/com.logangodsey/.*
  container-agent-values-update: any of: Kubernetes/Helm/container-agent/.*
  file-path="Kubernetes/Helm/container-agent": any of: Kubernetes/Helm/container-agent/.*
  container-agent-gcp-secret-upgrade: any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*
  namespace="cr-upgrade": (any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*) or (any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*)
  file-path="Kubernetes/Secrets/container-agent-gcp-server-upgrade": any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*
  container-agent-gcp-server-upgrade: any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*
  file-path="Kubernetes/Helm/container-agent-gcp-server-upgrade": any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*
