Repository imlogang-organization/infrastructure: changes, and which CircleCI parameters are due for each by the changed paths.
All: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot", stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage", container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud", container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server", circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system", minio, file-path="minio", aws, file-path="AWS", cloudflare, file-path="cloudflare/cloud.donttrustthecloud", file-path="cloudflare/com.logangodsey", container-agent-values-update, file-path="Kubernetes/Helm/container-agent", container-agent-gcp-secret-upgrade, namespace="cr-upgrade", file-path="Kubernetes/Secrets/container-agent-gcp-server-upgrade", container-agent-gcp-server-upgrade, file-path="Kubernetes/Helm/container-agent-gcp-server-upgrade"

swagger.json
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

remove a bad /
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

change path for wildcard
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

swagger.json route
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

try another route
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

/docs/
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

index.html again
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

add regcred to go-api namespace to provide pull rate limits
  .circleci/continue_config.yml
  Kubernetes/Secrets/go-api/main.tf
  Kubernetes/Secrets/go-api/variables.tf
Due: none

add pull secrets to beemoviebot namespace
  .circleci/continue_config.yml
  Kubernetes/Secrets/beemoviebot/main.tf
  Kubernetes/Secrets/beemoviebot/variables.tf
Due: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot"

run on ubuntu-k8s always
  Kubernetes/Secrets/beemoviebot/main.tf
Due: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot"

actually run on ubuntu-k8s and add secrets to beemoviebot pull
  .circleci/continue_config.yml
  Kubernetes/Secrets/beemoviebot/main.tf
Due: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot"

add the same regcred to beemoviebotstage
  Kubernetes/Secrets/beemoviebotstage/main.tf
  Kubernetes/Secrets/beemoviebotstage/variables.tf
Due: stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage"

create secrets for web-ui deployment for regcred
  .circleci/config.yml
  .circleci/continue_config.yml
  Kubernetes/Secrets/web-ui/backend.sh
  Kubernetes/Secrets/web-ui/main.tf
  Kubernetes/Secrets/web-ui/provider.tf
  Kubernetes/Secrets/web-ui/resources.tf
  Kubernetes/Secrets/web-ui/variables.tf
Due: none

watch web-ui namespace
  Kubernetes/Helm/circleci-release-agent-system/values/values.yaml
Due: none

change / to new web-ui service
  Kubernetes/Helm/kong/values/kong.yml
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

remove reference of old configmap that we don't need anymore
  Kubernetes/Helm/kong/main.tf
Due: none

remove kong configmap from depends_on aswell
  Kubernetes/Helm/kong/main.tf
Due: none

add root routing to npm target
  cloudflare/com.logangodsey/main.tf
Due: cloudflare, file-path="cloudflare/com.logangodsey"

update required_version
  cloudflare/com.logangodsey/provider.tf
Due: cloudflare, file-path="cloudflare/com.logangodsey"

new job to put cloudflare apply on the same executor that created the plan
  .circleci/continue_config.yml
  cloudflare/com.logangodsey/main.tf
Due: cloudflare, file-path="cloudflare/com.logangodsey"

deploy new machine runner vm for my server install because proxmox got rid of its boot device for some reason
  .circleci/continue_config.yml
  proxmox/proxmox0/main.tf
Due: none

this might eventually break a lot of things. Moving everything that's running off of ubuntu-k8s and machine-runner to use container-runner executor
  .circleci/continue_config.yml
Due: none

initial commit to deploy authentik
  .circleci/config.yml
  .circleci/continue_config.yml
  Kubernetes/Helm/authentik/backend.sh
  Kubernetes/Helm/authentik/main.tf
  Kubernetes/Helm/authentik/provider.tf
  Kubernetes/Helm/authentik/resources.tf
  Kubernetes/Helm/authentik/values/values.yaml
  Kubernetes/Helm/authentik/variables.tf
Due: none

forgot requires
  .circleci/continue_config.yml
  Kubernetes/Helm/authentik/values/values.yaml
Due: none

newer version of tf
  Kubernetes/Helm/authentik/provider.tf
Due: none

add routes to kong for authentik
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

update tf version
  Kubernetes/Helm/kong/provider.tf
Due: none

setup failed
  Kubernetes/Helm/kong/provider.tf
Due: none

it's complaining about container runner?
  Kubernetes/Helm/kong/provider.tf
Due: none

add an _
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

remove /auth and www.
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

ending with /
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

new values for authentik:
  Kubernetes/Helm/authentik/values/values.yaml
Due: none

add preserve_host
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

new authentik values
  Kubernetes/Helm/authentik/values/values.yaml
Due: none

port 443 instead of 80
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

use metallb for now
  Kubernetes/Helm/authentik/values/values.yaml
Due: none

move back to original values file
  Kubernetes/Helm/authentik/values/values.yaml
Due: none

i forgot to change to https
  Kubernetes/Helm/kong/values/normal-values.yaml
Due: none

add authentik routing
  cloudflare/com.logangodsey/main.tf
Due: cloudflare, file-path="cloudflare/com.logangodsey"

Path conditions:
  prod: any of: Kubernetes/Secrets/beemoviebot/.*
  namespace="beemoviebot": any of: Kubernetes/Secrets/beemoviebot/.*
  file-path="Kubernetes/Secrets/beemoviebot": any of: Kubernetes/Secrets/beemoviebot/.*
  stage: any of: Kubernetes/Secrets/beemoviebotstage/.*
  namespace="beemoviebotstage": any of: Kubernetes/Secrets/beemoviebotstage/.*
  file-path="Kubernetes/Secrets/beemoviebotstage": any of: Kubernetes/Secrets/beemoviebotstage/.*
  container-runner-cloud: any of: Kubernetes/Secrets/container-runner-cloud/.*
  namespace="circleci": (any of: Kubernetes/Secrets/container-runner-cloud/.*) or (any of: Kubernetes/Helm/container-agent/.*)
  file-path="Kubernetes/Secrets/container-runner-cloud": any of: Kubernetes/Secrets/container-runner-cloud/.*
  container-runner-server: any of: Kubernetes/Secrets/container-runner-server/.*
  namespace="container-runner-server": any of: Kubernetes/Secrets/container-runner-server/.*
  file-path="Kubernetes/Secrets/container-runner-server": any of: Kubernetes/Secrets/container-runner-server/.*
  circleci-release-agent-system: any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  namespace="circleci-release-agent-system": any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  file-path="Kubernetes/Secrets/circleci-release-agent-system": any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  minio: any of: minio/.*
  file-path="minio": any of: minio/.*
  aws: any of: AWS/.*
  file-path="AWS": any of: AWS/.*
  cloudflare: (any of: cloudflare/cloud.donttrustthecloud/.*) or (any of: cloudflare/com.logangodsey/.*)
  file-path="cloudflare/cloud.donttrustthecloud": any of: cloudflare/cloud.donttrustthecloud/.*
  file-path="cloudflare/com.logangodsey": any of: cloudflare/com.logangodsey/.*
  container-agent-values-update: any of: Kubernetes/Helm/container-agent/.*
  file-path="Kubernetes/Helm/container-agent": any of: Kubernetes/Helm/container-agent/.*
  container-agent-gcp-secret-upgrade: any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*
  namespace="cr-upgrade": (any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*) or (any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*)
  file-path="Kubernetes/Secrets/container-agent-gcp-server-upgrade": any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*
  container-agent-gcp-server-upgrade: any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*
  file-path="Kubernetes/Helm/container-agent-gcp-server-upgrade": any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*
