Repository imlogang-organization/infrastructure: changes, and which CircleCI parameters are due for each by the changed paths.
All: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot", stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage", container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud", container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server", circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system", minio, file-path="minio", aws, file-path="AWS", cloudflare, file-path="cloudflare/cloud.donttrustthecloud", file-path="cloudflare/com.logangodsey", container-agent-values-update, file-path="Kubernetes/Helm/container-agent", container-agent-gcp-secret-upgrade, namespace="cr-upgrade", file-path="Kubernetes/Secrets/container-agent-gcp-server-upgrade", container-agent-gcp-server-upgrade, file-path="Kubernetes/Helm/container-agent-gcp-server-upgrade", container-agent-server-values-update, file-path="Kubernetes/Helm/container-agent-server", file-path="docker/docker_host", docker_host, influxdb, file-path="influxdb", proxmox0, file-path="proxmox/proxmox0", file-path="Kubernetes/Helm/circleci-release-agent-system", circleci-release-agent-system-helm, file-path="Kubernetes/Secrets/go-api/", namespace="go-api", go-api, file-path="Kubernetes/Helm/kong", namespace="kong", kong, file-path="Kubernetes/Secrets/web-ui", namespace="web-ui", web-ui, file-path="Kubernetes/Helm/authentik", authentik, namespace="authentik", file-path="Kubernetes/Helm/grafana-loki", grafana-loki, namespace="grafana-loki", file-path="Kubernetes/Helm/grafana-alloy", grafana-alloy, namespace="grafana-alloy", file-path="Kubernetes/Secrets/grafana-loki", grafana-loki-secrets

update required_version
  Kubernetes/Secrets/go-api/provider.tf
Due: file-path="Kubernetes/Secrets/go-api/", namespace="go-api", go-api

remove provider config_path
  Kubernetes/Secrets/go-api/provider.tf
Due: file-path="Kubernetes/Secrets/go-api/", namespace="go-api", go-api

make it all run on container runner
  .circleci/continue_config.yml
  Kubernetes/Secrets/go-api/main.tf
Due: file-path="Kubernetes/Secrets/go-api/", namespace="go-api", go-api

create regcred in circleci namespace
  .circleci/continue_config.yml
  Kubernetes/Secrets/container-runner-cloud/main.tf
  Kubernetes/Secrets/container-runner-cloud/provider.tf
  Kubernetes/Secrets/container-runner-cloud/variables.tf
Due: container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud"

change to circleci namespace
  Kubernetes/Secrets/container-runner-cloud/main.tf
Due: container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud"

try not to care the namespace exists already
  Kubernetes/Secrets/container-runner-cloud/main.tf
Due: container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud"

move to resources.tf
  Kubernetes/Secrets/container-runner-cloud/main.tf
  Kubernetes/Secrets/container-runner-cloud/resources.tf
Due: container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud"

try letting it utilize the backend
  .circleci/continue_config.yml
  Kubernetes/Secrets/container-runner-cloud/backend.sh
Due: container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud"

try special image
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

update provider and executor
  .circleci/continue_config.yml
  Kubernetes/Helm/container-agent/provider.tf
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

upgrade helm module
  Kubernetes/Helm/container-agent/provider.tf
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

add = for new helm provider
  Kubernetes/Helm/container-agent/provider.tf
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

try amd64 tag
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

remove name:
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

try new image
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

try with other logging container
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

no pull secrets for container runner
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

use personal regcred
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

try logging container
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

switch to regcred
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

create new secret for new runner
  Kubernetes/Secrets/container-runner-server/main.tf
  Kubernetes/Secrets/container-runner-server/variables.tf
Due: container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server"

create new docker-builder resource class for container runner
  Kubernetes/Helm/container-agent-server/values/normal-values.yaml
Due: namespace="container-runner-server", container-agent-server-values-update, file-path="Kubernetes/Helm/container-agent-server"

fix provider and add spec
  Kubernetes/Helm/container-agent-server/provider.tf
  Kubernetes/Helm/container-agent-server/values/normal-values.yaml
Due: namespace="container-runner-server", container-agent-server-values-update, file-path="Kubernetes/Helm/container-agent-server"

switch to using the new 4.8 task agent in prep for upgrade to 4.8
  Kubernetes/Helm/container-agent-server/values/normal-values.yaml
Due: namespace="container-runner-server", container-agent-server-values-update, file-path="Kubernetes/Helm/container-agent-server"

revert back to main image
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

Path conditions:
  prod: any of: Kubernetes/Secrets/beemoviebot/.*
  namespace="beemoviebot": any of: Kubernetes/Secrets/beemoviebot/.*
  file-path="Kubernetes/Secrets/beemoviebot": any of: Kubernetes/Secrets/beemoviebot/.*
  stage: any of: Kubernetes/Secrets/beemoviebotstage/.*
  namespace="beemoviebotstage": any of: Kubernetes/Secrets/beemoviebotstage/.*
  file-path="Kubernetes/Secrets/beemoviebotstage": any of: Kubernetes/Secrets/beemoviebotstage/.*
  container-runner-cloud: any of: Kubernetes/Secrets/container-runner-cloud/.*
  namespace="circleci": (any of: Kubernetes/Secrets/container-runner-cloud/.*) or (any of: Kubernetes/Helm/container-agent/.*)
  file-path="Kubernetes/Secrets/container-runner-cloud": any of: Kubernetes/Secrets/container-runner-cloud/.*
  container-runner-server: any of: Kubernetes/Secrets/container-runner-server/.*
  namespace="container-runner-server": (any of: Kubernetes/Secrets/container-runner-server/.*) or (any of: Kubernetes/Helm/container-agent-server/.*)
  file-path="Kubernetes/Secrets/container-runner-server": any of: Kubernetes/Secrets/container-runner-server/.*
  circleci-release-agent-system: any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  namespace="circleci-release-agent-system": (any of: Kubernetes/Secrets/circleci-release-agent-system/.*) or (any of: Kubernetes/Helm/circleci-release-agent-system/.*)
  file-path="Kubernetes/Secrets/circleci-release-agent-system": any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  minio: any of: minio/.*
  file-path="minio": any of: minio/.*
  aws: any of: AWS/.*
  file-path="AWS": any of: AWS/.*
  cloudflare: (any of: cloudflare/cloud.donttrustthecloud/.*) or (any of: cloudflare/com.logangodsey/.*)
  file-path="cloudflare/cloud.donttrustthecloud": any of: cloudflare/cloud.donttrustthecloud/.*
  file-path="cloudflare/com.logangodsey": any of: cloudflare/com.logangodsey/.*
  container-agent-values-update: any of: Kubernetes/Helm/container-agent/.*
  file-path="Kubernetes/Helm/container-agent": any of: Kubernetes/Helm/container-agent/.*
  container-agent-gcp-secret-upgrade: any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*
  namespace="cr-upgrade": (any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*) or (any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*)
  file-path="Kubernetes/Secrets/container-agent-gcp-server-upgrade": any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*
  container-agent-gcp-server-upgrade: any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*
  file-path="Kubernetes/Helm/container-agent-gcp-server-upgrade": any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*
  container-agent-server-values-update: any of: Kubernetes/Helm/container-agent-server/.*
  file-path="Kubernetes/Helm/container-agent-server": any of: Kubernetes/Helm/container-agent-server/.*
  file-path="docker/docker_host": any of: docker/docker_host/.*
  docker_host: any of: docker/docker_host/.*
  influxdb: any of: influxdb/.*
  file-path="influxdb": any of: influxdb/.*
  proxmox0: any of: proxmox/proxmox0/.*
  file-path="proxmox/proxmox0": any of: proxmox/proxmox0/.*
  file-path="Kubernetes/Helm/circleci-release-agent-system": any of: Kubernetes/Helm/circleci-release-agent-system/.*
  circleci-release-agent-system-helm: any of: Kubernetes/Helm/circleci-release-agent-system/.*
  file-path="Kubernetes/Secrets/go-api/": any of: Kubernetes/Secrets/go-api/.*
  namespace="go-api": any of: Kubernetes/Secrets/go-api/.*
  go-api: any of: Kubernetes/Secrets/go-api/.*
  file-path="Kubernetes/Helm/kong": any of: Kubernetes/Helm/kong/.*
  namespace="kong": any of: Kubernetes/Helm/kong/.*
  kong: any of: Kubernetes/Helm/kong/.*
  file-path="Kubernetes/Secrets/web-ui": any of: Kubernetes/Secrets/web-ui/.*
  namespace="web-ui": any of: Kubernetes/Secrets/web-ui/.*
  web-ui: any of: Kubernetes/Secrets/web-ui/.*
  file-path="Kubernetes/Helm/authentik": any of: Kubernetes/Helm/authentik/.*
  authentik: any of: Kubernetes/Helm/authentik/.*
  namespace="authentik": any of: Kubernetes/Helm/authentik/.*
  file-path="Kubernetes/Helm/grafana-loki": any of: Kubernetes/Helm/grafana-loki/.*
  grafana-loki: any of: Kubernetes/Helm/grafana-loki/.*
  namespace="grafana-loki": any of: Kubernetes/Helm/grafana-loki/.*
  file-path="Kubernetes/Helm/grafana-alloy": any of: Kubernetes/Helm/grafana-alloy/.*
  grafana-alloy: any of: Kubernetes/Helm/grafana-alloy/.*
  namespace="grafana-alloy": (any of: Kubernetes/Helm/grafana-alloy/.*) or (any of: Kubernetes/Secrets/grafana-loki/.*)
  file-path="Kubernetes/Secrets/grafana-loki": any of: Kubernetes/Secrets/grafana-loki/.*
  grafana-loki-secrets: any of: Kubernetes/Secrets/grafana-loki/.*
