Repository imlogang-organization/infrastructure: changes, and which CircleCI parameters are due for each by the changed paths.
All: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot", stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage", container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud", container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server", circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system", minio, file-path="minio", aws, file-path="AWS", cloudflare, file-path="cloudflare/cloud.donttrustthecloud", file-path="cloudflare/com.logangodsey", container-agent-values-update, file-path="Kubernetes/Helm/container-agent", container-agent-gcp-secret-upgrade, namespace="cr-upgrade", file-path="Kubernetes/Secrets/container-agent-gcp-server-upgrade", container-agent-gcp-server-upgrade, file-path="Kubernetes/Helm/container-agent-gcp-server-upgrade"

update required_version
  docker/docker_host/provider.tf
Due: none

just need directory
  docker/docker_host/main.tf
Due: none

change container_path on telegraf
  docker/docker_host/main.tf
Due: none

add satisfactory url
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud"

add flaresolverr for jackett
  docker/docker_host/images.tf
  docker/docker_host/main.tf
Due: none

remap ports cause they were wrong
  docker/docker_host/main.tf
Due: none

make jackett and flaresolverr on same host network
  docker/docker_host/main.tf
Due: none

cant use host network
  docker/docker_host/main.tf
Due: none

recreate dokuwiki
  docker/docker_host/main.tf
Due: none

Update main.tf
  minio/main.tf
Due: minio, file-path="minio"

remove -experimental image to test out full release of GOAT
  Kubernetes/Helm/container-agent-server/values/normal-values.yaml
Due: none

remove experimental image from server container runner to test GOAT
  Kubernetes/Helm/container-agent-server/values/normal-values.yaml
Due: none

remove -experimental from cloud container runner to migrate to GOAT
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

add scripts folder to gitignore
  .gitignore
Due: none

make releases configurable via terraform
  .circleci/config.yml
  .circleci/continue_config.yml
  Kubernetes/Helm/circleci-release-agent-system/backend.sh
  Kubernetes/Helm/circleci-release-agent-system/main.tf
  Kubernetes/Helm/circleci-release-agent-system/provider.tf
  Kubernetes/Helm/circleci-release-agent-system/resources.tf
  Kubernetes/Helm/circleci-release-agent-system/values/values.yaml
  Kubernetes/Helm/circleci-release-agent-system/variables.tf
Due: none

remove a /
  Kubernetes/Helm/circleci-release-agent-system/backend.sh
Due: none

remove managed-namespace command
  .circleci/continue_config.yml
  Kubernetes/Helm/circleci-release-agent-system/values/values.yaml
Due: none

fix config again
  .circleci/continue_config.yml
  Kubernetes/Helm/circleci-release-agent-system/values/values.yaml
Due: none

change some terraform names and deleted ns on cluster
  Kubernetes/Helm/circleci-release-agent-system/main.tf
  Kubernetes/Helm/circleci-release-agent-system/resources.tf
Due: none

recreate secret
  Kubernetes/Secrets/circleci-release-agent-system/main.tf
Due: circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system"

update required_version
  Kubernetes/Secrets/circleci-release-agent-system/provider.tf
Due: circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system"

get rid of managed namespace?
  .circleci/continue_config.yml
  Kubernetes/Secrets/circleci-release-agent-system/main.tf
Due: circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system"

move plan job to same executor
  .circleci/continue_config.yml
  Kubernetes/Secrets/circleci-release-agent-system/main.tf
Due: circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system"

try original tf version?
  Kubernetes/Secrets/circleci-release-agent-system/provider.tf
Due: circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system"

needs to be a managed namespace
  .circleci/continue_config.yml
  Kubernetes/Secrets/circleci-release-agent-system/main.tf
Due: circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system"

add secrets to go-api ns
  .circleci/config.yml
  .circleci/continue_config.yml
  Kubernetes/Secrets/go-api/backend.sh
  Kubernetes/Secrets/go-api/main.tf
  Kubernetes/Secrets/go-api/provider.tf
  Kubernetes/Secrets/go-api/resources.tf
  Kubernetes/Secrets/go-api/variables.tf
Due: none

i can never spell right
  .circleci/continue_config.yml
  Kubernetes/Secrets/go-api/main.tf
Due: none

forgot the TF_VAR_ part
  Kubernetes/Secrets/go-api/main.tf
Due: none

create a second nomad client that i can break here and there
  proxmox/proxmox0/main.tf
Due: none

update tf required version
  proxmox/proxmox0/provider.tf
Due: none

increase the vmid
  proxmox/proxmox0/main.tf
Due: none

add docs to proxmox tf so i stop forgetting [skip ci]
  proxmox/proxmox0/main.tf
Due: none

increase the vmid again since i forgot
  proxmox/proxmox0/main.tf
Due: none

try out using a self hosting task agent image
  Kubernetes/Helm/container-agent-server/values/normal-values.yaml
Due: none

try and update helm repo after adding
  Kubernetes/Helm/container-agent-server/main.tf
Due: none

pin helm chart
  Kubernetes/Helm/container-agent-server/main.tf
Due: none

change repo
  Kubernetes/Helm/container-agent-server/values/normal-values.yaml
Due: none

downgrade release agent to 1.3.3
  Kubernetes/Helm/circleci-release-agent-system/values/values.yaml
Due: none

try specifiying that we created the secret
  Kubernetes/Helm/circleci-release-agent-system/values/values.yaml
Due: none

Path conditions:
  prod: any of: Kubernetes/Secrets/beemoviebot/.*
  namespace="beemoviebot": any of: Kubernetes/Secrets/beemoviebot/.*
  file-path="Kubernetes/Secrets/beemoviebot": any of: Kubernetes/Secrets/beemoviebot/.*
  stage: any of: Kubernetes/Secrets/beemoviebotstage/.*
  namespace="beemoviebotstage": any of: Kubernetes/Secrets/beemoviebotstage/.*
  file-path="Kubernetes/Secrets/beemoviebotstage": any of: Kubernetes/Secrets/beemoviebotstage/.*
  container-runner-cloud: any of: Kubernetes/Secrets/container-runner-cloud/.*
  namespace="circleci": (any of: Kubernetes/Secrets/container-runner-cloud/.*) or (any of: Kubernetes/Helm/container-agent/.*)
  file-path="Kubernetes/Secrets/container-runner-cloud": any of: Kubernetes/Secrets/container-runner-cloud/.*
  container-runner-server: any of: Kubernetes/Secrets/container-runner-server/.*
  namespace="container-runner-server": any of: Kubernetes/Secrets/container-runner-server/.*
  file-path="Kubernetes/Secrets/container-runner-server": any of: Kubernetes/Secrets/container-runner-server/.*
  circleci-release-agent-system: any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  namespace="circleci-release-agent-system": any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  file-path="Kubernetes/Secrets/circleci-release-agent-system": any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  minio: any of: minio/.*
  file-path="minio": any of: minio/.*
  aws: any of: AWS/.*
  file-path="AWS": any of: AWS/.*
  cloudflare: (any of: cloudflare/cloud.donttrustthecloud/.*) or (any of: cloudflare/com.logangodsey/.*)
  file-path="cloudflare/cloud.donttrustthecloud": any of: cloudflare/cloud.donttrustthecloud/.*
  file-path="cloudflare/com.logangodsey": any of: cloudflare/com.logangodsey/.*
  container-agent-values-update: any of: Kubernetes/Helm/container-agent/.*
  file-path="Kubernetes/Helm/container-agent": any of: Kubernetes/Helm/container-agent/.*
  container-agent-gcp-secret-upgrade: any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*
  namespace="cr-upgrade": (any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*) or (any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*)
  file-path="Kubernetes/Secrets/container-agent-gcp-server-upgrade": any of: Kubernetes/Secrets/container-agent-gcp-server-upgrade/.*
  container-agent-gcp-server-upgrade: any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*
  file-path="Kubernetes/Helm/container-agent-gcp-server-upgrade": any of: Kubernetes/Helm/container-agent-gcp-server-upgrade/.*
