Repository imlogang-organization/infrastructure: changes, and which CircleCI parameters are due for each by the changed paths.
All: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot", stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage", container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud", container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server", circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system", minio, file-path="minio", aws, file-path="AWS", cloudflare, file-path="cloudflare/cloud.donttrustthecloud", file-path="cloudflare/com.logangodsey", container-agent-values-update, file-path="Kubernetes/Helm/container-agent", container-agent-gcp-secret-upgrade, namespace="cr-upgrade", file-path="Kubernetes/Secrets/container-agent-gcp-server-upgrade", container-agent-gcp-server-upgrade, file-path="Kubernetes/Helm/container-agent-gcp-server-upgrade"

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            Kubernetes/Secrets/beemoviebot/.* prod true
            Kubernetes/Secrets/beemoviebot/.* namespace "beemoviebot"
            Kubernetes/Secrets/beemoviebot/.* file-path "Kubernetes/Secrets/beemoviebot"
            Kubernetes/Secrets/beemoviebotstage/.* stage true
            Kubernetes/Secrets/beemoviebotstage/.* namespace "beemoviebotstage"
            Kubernetes/Secrets/beemoviebotstage/.* file-path "Kubernetes/Secrets/beemoviebotstage"
            Kubernetes/Secrets/container-runner-cloud/.* container-runner-cloud true
            Kubernetes/Secrets/container-runner-cloud/.* namespace "circleci"
            Kubernetes/Secrets/container-runner-cloud/.* file-path "Kubernetes/Secrets/container-runner-cloud"
            Kubernetes/Secrets/container-runner-server/.* container-runner-server true
            Kubernetes/Secrets/container-runner-server/.* namespace "container-runner-server"
            Kubernetes/Secrets/container-runner-server/.* file-path "Kubernetes/Secrets/container-runner-server"
            Kubernetes/Secrets/circleci-release-agent-system/.* circleci-release-agent-system true
            Kubernetes/Secrets/circleci-release-agent-system/.* namespace "circleci-release-agent-system"
            Kubernetes/Secrets/circleci-release-agent-system/.* file-path "Kubernetes/Secrets/circleci-release-agent-system"
            minio/.* minio true
            minio/.* file-path "minio"
            AWS/.* aws true
            AWS/.* file-path "AWS"
            cloudflare/cloud.donttrustthecloud/.* cloudflare true
            cloudflare/cloud.donttrustthecloud/.* file-path "cloudflare/cloud.donttrustthecloud"
            cloudflare/com.logangodsey/.* cloudflare true
            cloudflare/com.logangodsey/.* file-path "cloudflare/com.logangodsey"
            Kubernetes/Helm/container-agent/.* container-agent-values-update true
            Kubernetes/Helm/container-agent/.* file-path "Kubernetes/Helm/container-agent"
            Kubernetes/Helm/container-agent/.* namespace "circleci"
            Kubernetes/Secrets/container-agent-gcp-server-upgrade/.* container-agent-gcp-secret-upgrade true
            Kubernetes/Secrets/container-agent-gcp-server-upgrade/.* namespace "cr-upgrade"
            Kubernetes/Secrets/container-agent-gcp-server-upgrade/.* file-path "Kubernetes/Secrets/container-agent-gcp-server-upgrade"
            Kubernetes/Helm/container-agent-gcp-server-upgrade/.* container-agent-gcp-server-upgrade true
            Kubernetes/Helm/container-agent-gcp-server-upgrade/.* namespace "cr-upgrade"
            Kubernetes/Helm/container-agent-gcp-server-upgrade/.* file-path "Kubernetes/Helm/container-agent-gcp-server-upgrade"
          circleci_domain: cciserver.logangodsey.com

add influxdb file path and first bucket. add influxdb to config
  .circleci/config.yml
  .circleci/continue_config.yml
  influxdb/backend.sh
  influxdb/main.tf
  influxdb/provider.tf
  influxdb/variables.tf
Due: none

missed a letter
  .circleci/config.yml
  influxdb/provider.tf
Due: none

change where tfstate is stored
  influxdb/backend.sh
Due: none

add graphite container
  docker/docker_host/images.tf
  docker/docker_host/main.tf
Due: none

make sure everything only runs on main
  .circleci/continue_config.yml
Due: none

add user check
  .circleci/config.yml
Due: none

add fi
  .circleci/config.yml
Due: none

no need to run on large
  .circleci/config.yml
Due: none

add tflint job in setup workflow
  .circleci/config.yml
  .tflint.hcl
Due: none

try new check_user script
  .circleci/config.yml
Due: none

try absolute path
  .circleci/config.yml
Due: none

fix linting as a whole [skip ci]
  AWS/provider.tf
  AWS/variables.tf
  Kubernetes/Helm/container-agent-gcp-server-upgrade/main.tf
  Kubernetes/Helm/container-agent-gcp-server-upgrade/provider.tf
  Kubernetes/Helm/container-agent-gcp-server-upgrade/variables.tf
  Kubernetes/Helm/container-agent-server/main.tf
  Kubernetes/Helm/container-agent-server/provider.tf
  Kubernetes/Helm/container-agent-server/variables.tf
  Kubernetes/Helm/container-agent/main.tf
  Kubernetes/Helm/container-agent/provider.tf
  Kubernetes/Helm/container-agent/variables.tf
  Kubernetes/Secrets/beemoviebot/provider.tf
  Kubernetes/Secrets/beemoviebotstage/provider.tf
  Kubernetes/Secrets/circleci-release-agent-system/provider.tf
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/provider.tf
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/variables.tf
  Kubernetes/Secrets/container-runner-cloud/provider.tf
  Kubernetes/Secrets/container-runner-server/provider.tf
  cloudflare/cloud.donttrustthecloud/provider.tf
  cloudflare/cloud.donttrustthecloud/variables.tf
  cloudflare/com.logangodsey/provider.tf
  cloudflare/com.logangodsey/variables.tf
  docker/docker_host/main.tf
  docker/docker_host/provider.tf
  docker/docker_host/variables.tf
  influxdb/provider.tf
  minio/main.tf
  minio/variables.tf
  minio/versions.tf
Due: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot", stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage", container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud", container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server", circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system", minio, file-path="minio", aws, file-path="AWS", cloudflare, file-path="cloudflare/cloud.donttrustthecloud", file-path="cloudflare/com.logangodsey", container-agent-values-update, file-path="Kubernetes/Helm/container-agent", container-agent-gcp-secret-upgrade, namespace="cr-upgrade", file-path="Kubernetes/Secrets/container-agent-gcp-server-upgrade", container-agent-gcp-server-upgrade, file-path="Kubernetes/Helm/container-agent-gcp-server-upgrade"

add context to lint job
  .circleci/config.yml
Due: none

update cloud container agent to GOAT
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

switch executor to be full k8s mr
  .circleci/continue_config.yml
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

try and create proxmox vms
  proxmox/proxmox0/backend.sh
  proxmox/proxmox0/main.tf
  proxmox/proxmox0/provider.tf
  proxmox/proxmox0/variables.tf
Due: none

try and create proxmox vms
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

try and make proxmox vms
  .circleci/config.yml
  proxmox/proxmox0/main.tf
Due: none

add readme and debug to tfint job
  .circleci/config.yml
  README.md
Due: none

more debugging
  .circleci/config.yml
Due: none

remove debugging and confirm fix
  .circleci/config.yml
Due: none

actually try and create proxmox vms
  proxmox/proxmox0/main.tf
Due: none

remove 2nd storage block
  .circleci/continue_config.yml
  proxmox/proxmox0/main.tf
Due: none

try new terraform
  proxmox/proxmox0/main.tf
Due: none

figured out permissions
  proxmox/proxmox0/provider.tf
Due: none

add ids
  proxmox/proxmox0/main.tf
Due: none

update tflint image used
  .circleci/config.yml
Due: none

add resource limits to cloud CA
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: namespace="circleci", container-agent-values-update, file-path="Kubernetes/Helm/container-agent"

recreate secret for container-runner-server namespace
  Kubernetes/Secrets/container-runner-server/main.tf
Due: container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server"

make runner run on right executor
  .circleci/continue_config.yml
  Kubernetes/Secrets/container-runner-server/main.tf
Due: container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server"

recreate container-runner-server in k8s
  Kubernetes/Helm/container-agent-server/variables.tf
Due: none

add resource contraints to container runner server and have setup workkflow use it
  .circleci/config.yml
  Kubernetes/Helm/container-agent-server/values/normal-values.yaml
Due: none

configure to use new GOAT agent
  Kubernetes/Helm/container-agent-server/values/normal-values.yaml
Due: none

reconfigure main.tf name
  Kubernetes/Helm/container-agent-server/main.tf
Due: none

recreate server secret
  .circleci/config.yml
  .circleci/continue_config.yml
  Kubernetes/Secrets/container-runner-server/main.tf
Due: container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server"

add backend.sh
  Kubernetes/Secrets/container-runner-server/backend.sh
Due: container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server"

better place for tfstate file
  Kubernetes/Secrets/container-runner-server/backend.sh
Due: container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server"

add minio values to container runner server job
  .circleci/continue_config.yml
  Kubernetes/Secrets/container-runner-server/main.tf
Due: container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server"

use real backend context for job
  .circleci/continue_config.yml
  Kubernetes/Secrets/container-runner-server/main.tf
Due: container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server"
