Repository imlogang-organization/infrastructure: changes, and which CircleCI parameters are due for each by the changed paths.
All: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot", stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage", container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud", container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server", circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system", minio, file-path="minio", aws, file-path="AWS", cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            Kubernetes/Secrets/beemoviebot/.* prod true
            Kubernetes/Secrets/beemoviebot/.* namespace "beemoviebot"
            Kubernetes/Secrets/beemoviebot/.* file-path "Kubernetes/Secrets/beemoviebot"
            Kubernetes/Secrets/beemoviebotstage/.* stage true
            Kubernetes/Secrets/beemoviebotstage/.* namespace "beemoviebotstage"
            Kubernetes/Secrets/beemoviebotstage/.* file-path "Kubernetes/Secrets/beemoviebotstage"
            Kubernetes/Secrets/container-runner-cloud/.* container-runner-cloud true
            Kubernetes/Secrets/container-runner-cloud/.* namespace "circleci"
            Kubernetes/Secrets/container-runner-cloud/.* file-path "Kubernetes/Secrets/container-runner-cloud"
            Kubernetes/Secrets/container-runner-server/.* container-runner-server true
            Kubernetes/Secrets/container-runner-server/.* namespace "container-runner-server"
            Kubernetes/Secrets/container-runner-server/.* file-path "Kubernetes/Secrets/container-runner-server"
            Kubernetes/Secrets/circleci-release-agent-system/.* circleci-release-agent-system true
            Kubernetes/Secrets/circleci-release-agent-system/.* namespace "circleci-release-agent-system"
            Kubernetes/Secrets/circleci-release-agent-system/.* file-path "Kubernetes/Secrets/circleci-release-agent-system"
            minio/.* minio true
            minio/.* file-path "minio"
            AWS/.* aws true
            AWS/.* file-path "AWS"
            cloudflare/cloud.donttrustthecloud/.* cloudflare true
            cloudflare/cloud.donttrustthecloud/.* file-path "cloudflare/cloud.donttrustthecloud/.*"
          circleci_domain: cciserver.logangodsey.com

make deploy for ca on GCP
  .circleci/config.yml
  .circleci/continue_config.yml
  Kubernetes/Helm/container-agent-gcp-server-upgrade/main.tf
  Kubernetes/Helm/container-agent-gcp-server-upgrade/provider.tf
  Kubernetes/Helm/container-agent-gcp-server-upgrade/resources.tf
  Kubernetes/Helm/container-agent-gcp-server-upgrade/values/normal-values.yaml
  Kubernetes/Helm/container-agent-gcp-server-upgrade/variables.tf
Due: none

fix params
  .circleci/continue_config.yml
  Kubernetes/Helm/container-agent-gcp-server-upgrade/provider.tf
Due: none

make managed namespace after init
  .circleci/continue_config.yml
  Kubernetes/Helm/container-agent-gcp-server-upgrade/main.tf
Due: none

change name of namespace
  Kubernetes/Helm/container-agent-gcp-server-upgrade/resources.tf
Due: none

fix name in values
  Kubernetes/Helm/container-agent-gcp-server-upgrade/values/normal-values.yaml
Due: none

recreate secret
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/main.tf
Due: none

recreate secret
  .circleci/config.yml
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/provider.tf
Due: none

actually create the secret
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/main.tf
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/resources.tf
Due: none

create deploy
  Kubernetes/Helm/container-agent-gcp-server-upgrade/values/normal-values.yaml
Due: none

create secret with correct secret name
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/main.tf
Due: none

Create LICENSE [skip ci]
  LICENSE
Due: none

fix spelling
  README.md
Due: none

initial commit of container-agent-server
  Kubernetes/Helm/container-agent-server/backend.sh
  Kubernetes/Helm/container-agent-server/main.tf
  Kubernetes/Helm/container-agent-server/provider.tf
  Kubernetes/Helm/container-agent-server/resources.tf
  Kubernetes/Helm/container-agent-server/values/normal-values.yaml
  Kubernetes/Helm/container-agent-server/variables.tf
Due: none

redeploy container agent server
  .circleci/config.yml
  .circleci/continue_config.yml
  Kubernetes/Helm/container-agent-server/variables.tf
Due: none

redeploy with correct values
  Kubernetes/Helm/container-agent-server/values/normal-values.yaml
Due: none

re-release
  Kubernetes/Helm/container-agent-server/variables.tf
Due: none

recreate secret
  Kubernetes/Secrets/beemoviebot/main.tf
Due: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot"

new SRV for modded
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

add bucket for cs2 config
  minio/main.tf
Due: minio, file-path="minio"

change port on SRV record
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

remove sudo
  .circleci/continue_config.yml
Due: none

add kf2 SRV record
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

create personal server backup bucket
  minio/main.tf
Due: minio, file-path="minio"

upgrade backend.sh
  minio/backend.sh
Due: minio, file-path="minio"

actually use backend
  .circleci/continue_config.yml
  minio/backend.sh
Due: minio, file-path="minio"

see about dynamic IP for ddns
  .circleci/continue_config.yml
  cloudflare/cloud.donttrustthecloud/variables.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

try while actually using the envvar
  .circleci/continue_config.yml
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

remove a random .
  .circleci/continue_config.yml
  cloudflare/cloud.donttrustthecloud/backend.sh
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

added envvar to logangodsey too but [skip ci] as i know it's going to fail
  cloudflare/com.logangodsey/variables.tf
Due: none

add codeowners file
  .github/CODEOWNERS
Due: none

try proto as UDP
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

change how record is
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

remove srv record for kf2 and add standard record
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

make records handled by cloudflare
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

add location for tfstate [skip ci]
  AWS/backend.sh
Due: aws, file-path="AWS"

add plutonium server record
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

try to create an SRV record
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

update srv record for pluto
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"
