Repository imlogang-organization/infrastructure: changes, and which CircleCI parameters are due for each by the changed paths.
All: prod, namespace="beemoviebot", file-path="Kubernetes/Secrets/beemoviebot", stage, namespace="beemoviebotstage", file-path="Kubernetes/Secrets/beemoviebotstage", container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud", container-runner-server, namespace="container-runner-server", file-path="Kubernetes/Secrets/container-runner-server", circleci-release-agent-system, namespace="circleci-release-agent-system", file-path="Kubernetes/Secrets/circleci-release-agent-system", minio, file-path="minio", aws, file-path="AWS", cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

fix envvar and retrigger cloudflare
  .circleci/continue_config.yml
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

try with a backend file
  .circleci/continue_config.yml
  cloudflare/cloud.donttrustthecloud/backend.sh
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

try without sudo
  .circleci/continue_config.yml
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

change file path in the backend and add a main for logangodsey [skip ci]
  cloudflare/cloud.donttrustthecloud/backend.sh
  cloudflare/com.logangodsey/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

add logangodsey.com to be managed by TF
  .circleci/config.yml
  .circleci/continue_config.yml
  cloudflare/com.logangodsey/backend.sh
  cloudflare/com.logangodsey/main.tf
  cloudflare/com.logangodsey/provider.tf
  cloudflare/com.logangodsey/variables.tf
Due: none

make sure it actually starts\
  .circleci/continue_config.yml
  cloudflare/com.logangodsey/main.tf
Due: none

try with new token
  .circleci/config.yml
  .circleci/continue_config.yml
  cloudflare/com.logangodsey/main.tf
Due: none

change filepath for tfstate
  .circleci/continue_config.yml
  cloudflare/com.logangodsey/backend.sh
Due: none

need to trigger a job on donttrustthecloud
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

add resources back to cloud
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

hopefully this works
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

try cloud again
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

add container agent [skip ci]
  .circleci/config.yml
  .circleci/continue_config.yml
  Kubernetes/Helm/container-agent/backend.sh
  Kubernetes/Helm/container-agent/main.tf
  Kubernetes/Helm/container-agent/provider.tf
  Kubernetes/Helm/container-agent/values/normal-values.yaml
  Kubernetes/Helm/container-agent/variables.tf
  README.md
  cloudflare/cloud.donttrustthecloud/main.tf
Due: cloudflare, file-path="cloudflare/cloud.donttrustthecloud/.*"

hopefully this works
  Kubernetes/Helm/container-agent/main.tf
Due: none

fix version variable
  Kubernetes/Helm/container-agent/main.tf
  Kubernetes/Helm/container-agent/variables.tf
Due: none

make it so i dont have to run helm update
  Kubernetes/Helm/container-agent/main.tf
  Kubernetes/Helm/container-agent/variables.tf
Due: none

update provider
  Kubernetes/Helm/container-agent/provider.tf
Due: none

try with local-exec
  Kubernetes/Helm/container-agent/main.tf
Due: none

change config path for k8s
  Kubernetes/Helm/container-agent/provider.tf
Due: none

remove service account
  Kubernetes/Helm/container-agent/values/normal-values.yaml
Due: none

recreate secret
  Kubernetes/Secrets/container-runner-cloud/main.tf
Due: container-runner-cloud, namespace="circleci", file-path="Kubernetes/Secrets/container-runner-cloud"

trigger container agent deploy
  .circleci/continue_config.yml
  Kubernetes/Helm/container-agent/main.tf
Due: none

need namespace trigger
  .circleci/config.yml
  Kubernetes/Helm/container-agent/main.tf
Due: none

need a resources file...
  Kubernetes/Helm/container-agent/resources.tf
Due: none

move managed namespace
  .circleci/continue_config.yml
  Kubernetes/Helm/container-agent/main.tf
Due: none

add k8s to provider
  Kubernetes/Helm/container-agent/provider.tf
Due: none

create ptero oats bucket
  minio/main.tf
Due: minio, file-path="minio"

actually create bucket
  minio/main.tf
Due: minio, file-path="minio"

create ptero user
  minio/main.tf
Due: minio, file-path="minio"

actually use the right user create
  minio/main.tf
Due: minio, file-path="minio"

actually actually create the user
  minio/main.tf
Due: minio, file-path="minio"

add tfstate file to minio [skip ci]
  .circleci/continue_config.yml
  minio/backend.sh
Due: minio, file-path="minio"

upgrade gcp external IP
  cloudflare/com.logangodsey/variables.tf
Due: none

add new provider for docker [skip ci]
  docker/docker_host/provider.tf
  docker/docker_host/versions.tf
Due: none

try to create a secret in GCP
  .circleci/config.yml
  .circleci/continue_config.yml
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/main.tf
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/provider.tf
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/resources.tf
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/variables.tf
Due: none

actually add the orb this time
  .circleci/continue_config.yml
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/provider.tf
Due: none

try again with actual token
  .circleci/continue_config.yml
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/main.tf
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/variables.tf
Due: none

add google config data
  Kubernetes/Secrets/container-agent-gcp-server-upgrade/provider.tf
Due: none

Path conditions:
  prod: any of: Kubernetes/Secrets/beemoviebot/.*
  namespace="beemoviebot": any of: Kubernetes/Secrets/beemoviebot/.*
  file-path="Kubernetes/Secrets/beemoviebot": any of: Kubernetes/Secrets/beemoviebot/.*
  stage: any of: Kubernetes/Secrets/beemoviebotstage/.*
  namespace="beemoviebotstage": any of: Kubernetes/Secrets/beemoviebotstage/.*
  file-path="Kubernetes/Secrets/beemoviebotstage": any of: Kubernetes/Secrets/beemoviebotstage/.*
  container-runner-cloud: any of: Kubernetes/Secrets/container-runner-cloud/.*
  namespace="circleci": any of: Kubernetes/Secrets/container-runner-cloud/.*
  file-path="Kubernetes/Secrets/container-runner-cloud": any of: Kubernetes/Secrets/container-runner-cloud/.*
  container-runner-server: any of: Kubernetes/Secrets/container-runner-server/.*
  namespace="container-runner-server": any of: Kubernetes/Secrets/container-runner-server/.*
  file-path="Kubernetes/Secrets/container-runner-server": any of: Kubernetes/Secrets/container-runner-server/.*
  circleci-release-agent-system: any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  namespace="circleci-release-agent-system": any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  file-path="Kubernetes/Secrets/circleci-release-agent-system": any of: Kubernetes/Secrets/circleci-release-agent-system/.*
  minio: any of: minio/.*
  file-path="minio": any of: minio/.*
  aws: any of: AWS/.*
  file-path="AWS": any of: AWS/.*
  cloudflare: any of: cloudflare/cloud.donttrustthecloud/.*
  file-path="cloudflare/cloud.donttrustthecloud/.*": any of: cloudflare/cloud.donttrustthecloud/.*
